@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}

.animate-flip {
  animation: flip 2s infinite;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}